# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Large Raw & Processed Datasets (Keep data/user_recorded/)
data/raw/
data/processed/
*.zip
*.tar.gz
*.mp4
*.avi

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini
.DS_Store
